#span-patient strong {
  color: blue;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Estiliza campos inválidos */
input:invalid:not(:placeholder-shown) {
  border-color: red;
}

/* Estiliza campos válidos */
/* input:valid { */
/* border-color: green; Define uma borda verde para campos válidos */
/* } */

/* Esconde as mensagens de erro por default */
.error-text {
  display: none;
}

/* Exibe as mensagens de erro para campos inválidos */
input:invalid:not(:placeholder-shown) ~ .error-text {
  display: block;
}

select:invalid:default ~ .error-text {
  display: block;
}

/* Esconde as mensagens de erro para campos válidos */
input:valid ~ .error-text {
  display: none;
}

/* form:valid button[type='submit'] {
  pointer-events: auto; Permite eventos de clique quando válido
  cursor: pointer; Altera o cursor para indicar que é clicável
} */

/* form:invalid button[type='submit'] {
  pointer-events: none; Desabilita eventos de clique quando inválido
  cursor: not-allowed; Altera o cursor para indicar que não é clicável
  background-color: #dedede !important;
} */
