#span-patient strong {
  color: blue;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Estiliza campos inválidos */
input:invalid:not(:placeholder-shown) {
  border-color: red;
}

/* Estiliza campos válidos */
/* input:valid { */
/* border-color: green; Define uma borda verde para campos válidos */
/* } */

/* Esconde as mensagens de erro por default */
.error-text {
  display: none;
}

/* Exibe as mensagens de erro para campos inválidos */
input:invalid:not(:placeholder-shown) ~ .error-text {
  display: block;
}

select:invalid:default ~ .error-text {
  display: block;
}

/* Esconde as mensagens de erro para campos válidos */
input:valid ~ .error-text {
  display: none;
}

.medical-report-text {
  display: none;
}
